/* General Reset */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Rubik";
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f9f9f9; /* Light background color */
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.3) /* Subtle shadow */
}

.left-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    gap: 30px;
    margin-left: 25px;
}   

.nav-links li {
    font-size: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #000; /* Darker color on hover */
}
span{
    color:crimson
}

.navbar-buttons button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #333; /* Dark button */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    width: 80px;
}

.navbar-buttons button:hover {
    background-color: #555; /* Slightly lighter on hover */
}
.main-section{
    text-align: center;
    color: #333;
}
.txt-1{
    color: #555;
    font-size: 1.5rem;
}
.h1-txt{
    font-size: 3rem;
    font-weight: bold;
   
}

.color-picker {
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 80px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    
}


.color-input{
    border: none;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.5) /* Subtle shadow */;
    border-radius: 25px;
    width: 500px;
    padding: 15px 30px;
    border: 1px
    
}

