/* General Reset */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f9f9f9; /* Light background color */
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.3) /* Subtle shadow */
}

.left-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    font-size: 14px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #000; /* Darker color on hover */
}

.navbar-buttons button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #333; /* Dark button */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-buttons button:hover {
    background-color: #555; /* Slightly lighter on hover */
}
